apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: todo
  source:
    repoURL: git@github.com:scottseotech/todo-platform.git
    path: deploy/argocd/manifests/infrastructure/kube-prometheus-stack
    targetRevision: main
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring 