# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment variables
.env

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

.coverage
htmlcov

.idea
# But un-ignore specific necessary files/directories:
!.idea/runConfigurations/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/encodings.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/*.iml
