name: Services Release

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
        description: git tag
      services:
        type: string
        required: true
        description: service names matrix 
        # e.g. { "service": [ "todo-api", "todo-mcp", "todo-bot" ] }

defaults:
  run:
    shell: bash -leo pipefail {0}

run-name: "Services Release - ${{ inputs.version }}"

jobs:

  call:
    strategy:
      matrix: ${{ fromJson(inputs.services) }}
    uses: ./.github/workflows/image-build.yaml
    with:
      service: ${{ matrix.service }}
      version: ${{ inputs.version }}
    secrets: inherit
