name: Runner Image Build

on:
  push:
    branches:
      - "main"
    paths:
      - "infra/runner/**"
  workflow_dispatch:

defaults:
  run:
    shell: bash -leo pipefail {0}

env:
  IMG_NAME: curiosinauts/scottseotech-runner
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

run-name: "Runner Image Build - ${{ github.run_id }}"

jobs:

  build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.metadata.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker metadata
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMG_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value={{sha}},enable=${{ github.ref_type != 'tag' }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: infra/runner
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}

  # custom-values.yaml can not be checked in to the repo for security reasons.
  # therefore, we need to update the docker version manually using upgrade.sh
  #
  # call-update-runner:
  #   needs: build
  #   uses: ./.github/workflows/update-runner.yaml
  #   with:
  #     version: ${{ needs.build.outputs.version }}
  #   secrets: inherit
